<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/assets/icons/local/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/downloads.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="og:title" content="Backwards Development">
    <meta name="og:description" content="Scripts, Designs, Discord Bots and Mods">
    <meta name="og:url" content="https://www.backwardsdevelopment.ca/">
    <meta name="og:image" content="/assets/icons/local/favicon.ico">
    <script src="/scripts/navHandler.js"></script>
    <title>Backwards Development | Media</title>
</head>

<body>
    <header class="sticky flex space-between" id="header">
        <div class="left">
            <h1>Backwards Development</h1>
            <h4>Media Sharing Login</h4>
        </div>
        <div class="right">
            <button class="nav-button" id="nav-button" tabindex="-1">&#9776;</button>
        </div>
    </header>
    <nav id="navigation">
        <a href="/about">About</a>
        <a href="https://shop.backwardsdevelopment.ca">Shop</a>
        <a href="/media">Media</a>
        <a class="selected" disabled>Downloads</a>
        <a href="/projects">Projects</a>
        <a href="/contacts">Contact</a>
    </nav>
    <main>
        <div class="content">
            <div id="argon" class="item">
                <div class="inline nospace"><h3>Argon 2</h3><div class="spaced"><span class="bold">-</span><a href="/downloads/argon/world.zip">Download</a></div></div>
                <p class="nospace">Last Updated May 31<sup>st</sup> 2023 @ 3:04PM EST</p>
            </div>
        </div>
    </main>
    <footer>
        <div class="centered">
            <div class="credit">&copy; BackwardsDevelopment.ca</div>
            <div class="credit"><p>Background Image from:</p><p><a class="yasser" href="https://instagram.com/Yasserm08">Yasser M.</a> on Instagram</p></div>
        </div>
        <table class="links">
            <tr>
                <td class="underline">Links</td>
                <td class="underline">Projects</td>
            </tr>
            <tr>
                <td><a href="https://shop.backwardshosting.ca">Shop</a></td>
                <td><a href="/dot">Dot</a></td>
            </tr>
            <tr>
                <td><a href="https://github.com/backwardsdevelopment/">GitHub</a></td>
                <td><a href="/MASI">MASI</a></td>
            </tr>
            <tr>
                <td><a href="/contact">Contact</a></td>
                <td><a href="/JADB">JADB</a></td>
            </tr>
            <tr>
                <td><a href="/downloads">Downloads</a></td>
                <td><a href="/basic-chatroom">Basic Chatroom</a></td>
            </tr>
        </table>
        <div class="spacer"></div>
    </footer>
</body>

</html>