.section-header {
    margin-bottom: 1.5em;
}

.content a {
    color: steelblue;
    transition-duration: 250ms;
    width: min-content;
    margin: 0;
}

.content a:visited {
    color: steelblue;
}

.content a:hover {
    color: cadetblue;
    text-shadow: none;
    text-shadow: 2px 2px 1px #353535;
}